body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
p {
  margin: 0;
}
.sup {
  vertical-align: super;
  font-size: smaller;
}
.sub {
  vertical-align: sub;
  font-size: smaller;
}
